h1.page.header
{
    padding-top: 1em;
}
.header.logo.image
{
    width: 2.2em;
}
.header.text.detail
{
    color: #ff7020;
}
.divider.image
{
    width: 100%;
}
.location-card
{
    cursor: pointer;
}
.btn-gol
{
    color: #fff;
    background-color: #ff7020;
    transition: 0.5s;
}
.btn-gol:hover
{
    background-color: #ff5b00;
}
.background.image
{
    width: 100%;
}